<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <% if (user) { %>
    <h2>Bonjour, <%= user.username %> !</h3>
  <% } %>

  <h3>Choisis ta room  :</h2>
  <ul>
    <li><a href="/room/lol">League of Legends</a></li>
  </ul>
</body>
</html>
