<!DOCTYPE html>
<html>
<head>
  <title>Connexion</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./stylelogs.css">
</head>
<body class="login-page">
  <%- include('partials/navbar') %>

      <div class="decorations">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Gamepad.svg" alt="manette" class="decor-icon icon-gamepad" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Trophy.svg" alt="trophée" class="decor-icon icon-trophy" />
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Globe.svg" alt="globe" class="decor-icon icon-globe" />
    </div>

  <h1>Se connecter</h1>

  <% if (error) { %>
    <p class="error-message"><%= error %></p>
  <% } %>

  <form method="POST" action="/login">
    <label for="username">Nom d’utilisateur :</label>
    <input type="text" name="username" required>

    <label for="password">Mot de passe :</label>
    <input type="password" name="password" required>

    <button type="submit">Connexion</button>
  </form>

  <p>Pas encore inscrit ? <a href="/register">Créer un compte</a></p>

  <canvas id="backgroundCanvas"></canvas>
  <script src="./scripthome.js"></script>
</body>
</html>
