<!DOCTYPE html>
<html>
<head>
  <title>Déconnexion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <%- include('partials/navbar') %>
  <h1>Vous êtes déconnecté</h1>
  <a href="/">Retour à l’accueil</a>
</body>
</html>
